body {
	background: #E8E9E4;
	font-family: Arial,sans-serif;
	padding: 20px 0;
}

h1 {
	color: #28639c;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -6px;
    margin: 0;	
	text-align: center;
}

h2 {
	border-bottom: 1px solid #ddd;
	color: #28639C;
	font-size: 24px;
	font-weight: bold;
}
h3 {
	border-bottom: 1px solid #ddd;
	color: #28639C;
	font-size: 24px;
	font-weight: bold;
}

p {
	margin: 0 0 25px;	
}

a {
	color: #28639C;
}

#demo_wrapper {
	background: #fff;
	-moz-box-shadow:    0 0 8px 0 rgba(0, 0, 0, 0.1);
  	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  	box-shadow:         0 0 8px 0 rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	width: 960px;	
}

#logo {
	padding: 40px 50px 30px;	
}

#stickyribbon {
	background: url(ribbon_corner.png) no-repeat center bottom;
	color: #fff;
	height: 60px;
	text-align: center;
	margin-left: -20px;
	width: 1000px;
	z-index: 100;
}

#stickyribbon ul {
	list-style-type: none;
	margin: 0 10px;
	padding: 10px 40px 15px;
	-moz-box-shadow:    0 12px 5px -6px rgba(0, 0, 0, 0.5);
  	-webkit-box-shadow: 0 12px 5px -6px rgba(0, 0, 0, 0.5);
  	box-shadow:         0 12px 5px -6px rgba(0, 0, 0, 0.5);
}

#stickyribbon ul li {
	display: inline;
	font-size: 16px;
	font-weight: bold;
	margin: 0 20px;
}

#stickyribbon ul li a {
	color: #fff;
	text-decoration: none;
}

#stickyribbon ul li a:hover {
	color: #c9e0f7;	
}

#page_content {
	padding: 30px 50px;	
}
.ads.middle {
	background: #efefef;
	border: 1px solid #ddd;
	padding: 40px 65px;
	text-align: center;
}
